<div class="header">
    <h1>{{title}}</h1><br/>
</div>
<div class="body">
    <router-outlet></router-outlet>
</div>
<footer>
<div class="footer">
    <a href="https://weatherstack.com/">
        <img src="https://weatherstack.com/site_images/weatherstack_logo_white.png" width="160px" height="28px"/>
    </a>
    <a href="https://www.digitalocean.com/community/tutorials/how-to-build-a-weather-app-with-angular-bootstrap-and-the-apixu-api">
        How to build your own Weather App with Angular
    </a>
    
</div>
</footer>